* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  padding: 40px;
}

.wrapper {
  background: #fff;
  display: flex;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 90px;
  padding-top: 90px;
}

.contacts-container {
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #646b76;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
}

.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.skills-list {
  margin-left: 15px;
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.skills-list-item {
  color: #c3c6cb;
}

.soft-skills-container {
  margin-left: 40px;
  margin-top: 54px;
  margin-right: 40px;
}

.soft-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 18px;
}

.main-info-container {
  margin-bottom: 65px;
}
.job-title {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my-name {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.main-text {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.projects {
  margin-bottom: 52px;
}
.projects-header {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.projects-list a {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.projects-list {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.language {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.work-experience {
  margin-bottom: 31px;
}

.experience-header {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 18px;
}

.job-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 6px;
}

.firm-name {
  color: #ff6b08;
}

.period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 6px;
  line-height: 24px;
}

.item {
  color: #000000;
}

.responsibilities {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.education {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 11px;
}

.university {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 7px;
}

.specialty {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 7px;
}

.additional-information {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 11px;
}

.additional-information-container {
  margin-top: 20px;
}
